<div class="container-fluid" style="height: 150px;">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">
            <img
              src="assets/NEXMOVIES1.jpg"
              height="100"
              width="200"
               
              loading="lazy"
            />
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link"routerLink='' style="color: rgb(219, 217, 217, 0.7);">Home </a>
            </li>
        
          </ul>
        </div>
    </nav>
    </div>
