 <div class="container">

      <div class="mb-3">
        <label for="cityId" class="form-label"></label>
        <div class="mb-3" style="width: 500px; float: right;">
             
            <select class="form-select"   (change)="onselect($event)"
            optionLabel="name"  [(ngModel)]="selectedItem"  required>
                <option value=null>Select Theatre</option>
                <option  *ngFor="let theatre of theatres" (value) ="theatre.theatreId">{{theatre.theatreName}}</option>
            </select>
        </div> 
        <br>
        <br>
        <br>
        <div class="buttons">
 
            <button [disabled]="buttondisabled" routerLink="/details" class="offset" style="float: right;">Theatre Deatails</button>
          </div>
 <br>
 <br>

    

    
 
    <div class="container"   *ngFor="let movie of movies">
        <div class="cellphone-container">
          <div class="movie">
            <div class="movie-img">
                <img [src]="movie.image1" style="width:400px; height:450px;"> </div>
            <div class="text-movie-cont">
              <div class="mr-grid">
                <div class="col1">
                  <h2 >{{movie.title}}</h2>
                  <ul class="movie-gen">
                     
                    <li>{{movie.language}} /</li>
                    <li>{{movie.duration}}</li>
                  </ul>
                </div>
              </div>
              <div class="mr-grid summary-row">
                <div class="col2">
                  <h5>SUMMARY</h5>
                </div>
                <div class="col2">
                  <ul class="movie-likes">
                    <li><i class="material-icons">&#xE813;</i>124</li>
                    <li><i class="material-icons">&#xE813;</i>3</li>
                  </ul>
                </div>
              </div>
              <div class="mr-grid">
                <div class="col1">
                  <p class="movie-description">{{movie.description}}</p>
                </div>
              </div>
               
              <div class="mr-grid action-row">
                <div class="col2">
                  <div class="watch-btn">
                    <button class="btn btn-show" routerLink="/movie/{{movie.movieId}}" >Show</button>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="https://dribbble.com/geehm" target="_blank">
        <img class="dribbble-link" src="https://image.flaticon.com/icons/png/512/124/124037.png">
      </a>
</div> 
 



 

