.bg{
    background-color: rgb(23, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
 }

.col {
    display: flex;
align-items: center;
justify-content: center;
}

.screen {
    background: rgb(255, 255, 255);
    height: 70px;
    width: 100%;
    margin: 50 px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.table {
    border-spacing: 0px;
    border-style: none;
 
        margin-left: auto;
        margin-right: auto;
      
   
 }
.check {
    width: 640px;
    margin: 150px auto;
    clear: both;
    display: block;
    background-color: rgba(255, 6, 6, 0.5);
    border-radius: 4px;
}
.check::after {
    clear: both;
    display: block;
    content: "";
}
.check .checkbox-container {
	float: left;
    width: 10%;
    box-sizing: border-box;
    text-align:center;
  padding: 4px 0px;
}


/* /* Styling Checkbox Starts */
 .checkbox-label {
color: white;
    display: block;
    position: relative;
    margin: left;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 60px;
    width: 24px;
    clear: both;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .mark {
	top:30px;
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    border: 2px solid white;
}
.checkbox-label input:checked ~ .mark {
    background-color: white;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid white;
}
.checkbox-label .mark::after {
    position: absolute;
    content: "";
    border-radius: 5px;
}
/*.checkbox-label input:checked ~ .mark::after {
  transform: rotate(45deg) scale(1);
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid red;
  border-width: 0 2px 2px 0;
  border-radius: 0;
}*/
/* For Ripple Effect */ 
  .checkbox-label .mark::before {
    position: absolute;
    content: "";
    border-radius: 10px;
    border: 5px solid yellow;
    transform: scale(0);    
}

.checkbox-label input:checked ~ .mark::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    transform: scale(3);
    opacity:0;   
    transition: all 0.3s ease-out;
} 

/* NEW SEATLAYOUT */

.row1{
    max-width:1200px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}
.row1 div{
    margin: 10px;
}
.row1 div label{
    cursor: pointer;
}
.row1 div label input[type="checkbox"]{
    display: none;
}
.row1 div label span{
    position: relative;
    display: inline-block;
    background: #ced4da;
    padding: 10px;
    color: rgb(19, 1, 1);
    text-shadow: 0 1px 4px rgba(13, 13, 13, 0.5);
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}
.row1 div label span :before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.4);
}
.row1 div label input[type="checkbox"]:checked ~ span{
    background: rgb(0, 227, 57);
     
}
.row1 div label input[type="checkbox"]:hover ~ span{
    background: rgb(4, 255, 4);
     
}
 /* DISABLED BUTTON CSS */

 .row1 div label input[type="checkbox"]:disabled ~ span{
    outline:1px solid red;  
    color: rgb(255, 255, 255);
    background-color: red;
  }

/*   BUTTONS */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  
  h1 {
    color: #f1c40f;
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
  }
  
  p {
    color: #f1c40f;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }
  
  .second {
    border-radius: 3em;
    border-color: #1abc9c;
    color: #fff;
    background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-position: 0 0;
    background-size: 100%;
    transition: background 300ms ease-in-out;
  }
  .second:hover {
    background-position: 100px;
  }
  
  .third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
  
  .fourth {
    border-color: #f1c40f;
    color: #fff;
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }
  
  .fifth {
    border-color: #8e44ad;
    border-radius: 0;
    color: #8e44ad;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
  }
  .fifth:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  .fifth:hover {
    color: #fff;
  }
  .fifth:hover:after {
    width: 110%;
  }
  
  