<div class="movie-container">
    
    
    
    <ul class="showcase">
      <li>
        
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>    
    </ul>
    
    <div class="container">
       
      <div class="screen"></div>
      <div class="row" style="color:white;"> 
          
        <div class="seat1">1</div>
        <div class="seat1">2</div>
        <div class="seat1">3</div>
        <div class="seat1">4</div>
        <div class="seat1">5</div>
        <div class="seat1">6</div>
        <div class="seat1">7</div>
        <div class="seat1">8</div>
      </div>

       
       
      
       
     
      <div class="row" style="color:white;"> A
          
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row"style="color:white;"> B
            
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row"style="color:white;"> C
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
        </div>
        <div class="row"style="color:white;"> D
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row"style="color:white;"> E
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
        </div>
        <div class="row" style="color:white;"> F
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat occupied"></div>
          <div class="seat"></div>
        </div>
      
      <p class="text" >
        You have selected <span id="count">0</span> seats for the total price of Rs. <span id="total">0</span>
      </p>
    </div>
  </div>
  
   