
  
<div class="mb-3" >
    <label for="cityId" class="form-label"></label>
    <div class="mb-3" style="width: 500px; float: right;">
        <label for="cityId" class="form-label" style="color: rgb(199, 199, 199, o.8); font-size: xx-large;">SELECT CITY</label><br><br>
        <select class="form-select"   (change)="onSelectionChange($event)"
        optionLabel="name"  [(ngModel)]="selectedItem"  required>
            <option value=null>Select City</option>
            <option  *ngFor="let city of cities" (value) ="city.cityId">{{city.name}}</option>
        </select>
    </div>
<br>
<br>
<br>
<br>  
<br>
<br>
 
<!-- SILDESHOW   -->  
<div id="slider">
	<figure>
	  <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1646975029346_miramar.jpg" alt="imgslider1">
	  <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1646739076676_basbassiweb.jpg" alt="imgslider2">
	  <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1646832878859_brarwweb.jpg" alt="imgslider3">
	</figure>
  </div>

<br>
<br>
<br>
<br>

  <h1 style="color: red;">RECOMMENDED MOVIES</h1>
  <br>
  <br>
  <br>
  <br>
  

<div class="container"   *ngFor="let movie of movies">
    <div class="cellphone-container">
      <div class="movie">
        <div class="movie-img">
            <img [src]="movie.image1" style="width:400px; height:450px;"> </div>
        <div class="text-movie-cont">
          <div class="mr-grid">
            <div class="col1">
              <h2 >{{movie.title}}</h2>
              <ul class="movie-gen">
                 
                <li>{{movie.language}} /</li>
                <li>{{movie.duration}}</li>
              </ul>
            </div>
          </div>
          <div class="mr-grid summary-row">
            <div class="col2">
              <h5>SUMMARY</h5>
            </div>
 
             
          </div>
          <div class="mr-grid">
            <div class="col1">
              <p class="movie-description">{{movie.description}}</p>
            </div>
          </div>
           
          <div class="mr-grid action-row">
            <div class="col2">
              <div class="watch-btn">
                <button class="btn btn-show" routerLink="/movie/{{movie.movieId}}">Show</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>