
  
<div class="mb-3">
    <label for="cityId" class="form-label"></label>
    <div class="mb-3">
        <label for="cityId" class="form-label" style="color: white; font-size: xx-large;">SELECT CITY</label>
        <select class="form-select"   (change)="onSelectionChange($event)"
        optionLabel="name"  [(ngModel)]="selectedItem"  required>
            <option value=null>Select City</option>
            <option  *ngFor="let city of cities" (value) ="city.cityId">{{city.name}}</option>
        </select>
    </div>


<!-- SILDESHOW   -->  
<div id="slider">
	<figure>
	  <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1646975029346_miramar.jpg" alt="imgslider1">
	  <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1646739076676_basbassiweb.jpg" alt="imgslider2">
	  <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1646832878859_brarwweb.jpg" alt="imgslider3">
	</figure>
  </div>

<br>
<br>
<br>
<br>
  <h1 style="color: red;">RECOMMENDED MOVIES</h1>

  <ng-container *ngFor="let movie of movies">
    <div class="course-container">
        <div class="course-card">
            <div>
                <img [src]="movie.image1" style="width:420px; height:200px;">
            </div>
            <div class="course-name"><h2 ><b>{{movie.title}}</b></h2></div>
<!--                 <div class="course-description"><p>{{movie.description.slice(0, 80)}}...</p></div>
-->                <div class="details">
                <div class="course-type" [ngStyle]="{color: movie.language === 'Free' ? 'Green' : 'Red'}"><b>Language:</b>{{movie.language}}</div>
                <div class="course-price"><b>Duration:</b> {{movie.duration}}</div>
            </div>
            <div class="course-buttons">
                <button class="btn btn-show" routerLink="/movie/{{movie.movieId}}">Show</button>
                <!-- <a [routerLink]="['/movie', movie['movieId'], movie['title']]" style="background-color: red; color: aliceblue;" >BOOK NOW</a> -->
            </div>
        </div>
    </div>  
</ng-container>
</div>