  <div class="bg">
  <table class="table" >
    <div class="check">
        <div class="screen"></div>
    <!-- 1-10 -->
   
    <tr >
       
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="1">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="2">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="3">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="4">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="5">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="6">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="7">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="8">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="9">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="10">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
    </tr>
   <!-- 10-20 -->
    <tr >
       
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="11">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="12">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="13">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="14">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="15">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="16">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="17">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="18">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="19">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="20">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
    </tr>
   
       <!-- 20-30 -->
       <tr >
       
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="21">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="22">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="23">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="24">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="25">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="26">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="27">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="28">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="29">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
        <td>
            <div class="checkbox-container">
                <label class="checkbox-label"> 
                  <input type="checkbox" value="30">
                  <span class="mark"></span>
                </label>
            </div>
        </td>
    </tr>
</div>
</table>
  
</div>
 
  